.btncontainer
{
	width: 50vw; // the container will have half the width of the screen
	display: flex; // flex will make all item sit side by side by default
	flex-wrap: wrap; // flex items to sit below prior flex items if no space in that row.
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #008080;
	color:black;
	background-image: url();
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

html {
margin: 0px;
height: 100%;
width: 100%;
}

body {
margin: 0px;
min-height: 100%;
width: 100%;
}

@font-face {
        font-family: SiteWide;
        src: url(Poppins-Regular.ttf);
}

.home {
  position: absolute;
  text-decoration: underline;
  top: 1%;
  left: 1%;
}

.videogamecat {
  position: absolute;
  top: 10%;
  left: 5%;
}

.TextAlignLeft {
  position: absolute;
  top: 10%;
  left: 5%;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #900C3F;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}